[submodule "test/depends/glhpp"]
	path = test/depends/glhpp
	url = https://github.com/Steve132/glhpp
	branch = master
[submodule "test/depends/glfwpp"]
	path = test/depends/glfwpp
	url = https://github.com/Steve132/glfwpp
	branch = master
